body{
    
    background-color: blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-top: 200px;
}

#counter{
   
    border: 5px solid white;
    background-color: white;
}